{% extends "profile_layout.html" %}
{% load static from staticfiles %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="sign-container">
  <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
  <h1>Sign in to BlueBooks</h1>
  <form class="sign-log" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <input class="button1" type="submit" name="" value="Sign in">
  </form>

  <div class="sign-log">
    New to BlueBooks?
    <a href="{{ signup_url }}"> Create an account. </a>
  </div>
</div>

{% endblock %}
