{% load static from staticfiles %}

<!doctype html>
<html lang="cs">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'scripts/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>BlueBooks</title>
  </head>
  <body>
    <header class="">
      <div class="logo-top">
        <a href="#"><h1><span>Blue</span>Books</h1></a>
      </div>

      <div class="log">
        <div class="log-io-top">
          <a href="#">přihlásit</a> <span>  /  </span> <a href="#">registrovat</a>
        </div>


        <div class="hamburger-icon icon-container">

        </div>
      </div>

      <nav class="sidebar sidebar__hide">
        <div class="sidebar-icon icon-container">

        </div>

        <ul>
          <li> <a href="#"></a> Home </li>
          <li> <a href="#"></a> Žebříčky </li>
          <li> <a href="#"></a> Knihy </li>
          <li> <a href="#"></a> Oblíbené </li>
          <li class="log-io-bar"> <a href="#"></a> Registrovat </li>
          <li class="log-io-bar"> <a href="#"></a> Přihlásit </li>
        </ul>
      </nav>
    </header>

    <div class="billboard">
      <div class="billboard-container container">
        <h1 class="display-1"><span>Blue</span>Books</h1>

        <form class="search-bar" id="button">
          <input id="search" type="text" name="" value="" placeholder="Hledaná kniha">
          <div class="icon-container"></div>
        </form>
      </div>
    </div>

    <div class="product-list">
      <div class="search-hide">
        <h2>Výsledek vyhledávání</h2>
      </div>

      <div class="wrapper container" id="results">
        {% for x in "y"|rjust:"0" %}
<!--
        <div class="product">
          <a href="#">
            <img src="{% static 'img/harry-potter.jpg' %}" alt="">

            <div class="product-title">
              <h3>Harry Potter a kámen mudrců</h3>
            </div>
          </a>
        </div>

        {% endfor %}
  -->
      </div>
      <div class="product-load search-hide">
        <button id="next" type="button" name="button">Dalších 20</button>
      </div>
    </div>


    <footer class="search-hide">

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>

    <script src="{% static 'scripts/ajax_googleapis.min.js' %}"></script>

    <script type="text/javascript">
      var x = document.getElementsByClassName("search-hide");
      var max = 20;
      function booksearch(){
        var search = document.getElementById('search').value
        document.getElementById('results').innerHTML = ""

        console.log(search)

        $.ajax({
          url: "https://www.googleapis.com/books/v1/volumes?q=" + search + "&langRestrict=cs_cz&printType=books&maxResults=" + 20 + "&startIndex=" + max,
          dataType: "json",

          success: function(data){
            for(i=0; i<data.items.length; i++){
              results.innerHTML += "  <div class='product'> <a href=''> <img src=" + data.items[i].volumeInfo.imageLinks.thumbnail + " alt=''> <div class='product-title'> <h3>" + data.items[i].volumeInfo.title + "</h3> </div></a></div>"


            }
          },

          type: "GET"
        });
      }

      function booksearch20(){
        var search = document.getElementById('search').value
        console.log(search)

        $.ajax({
          url: "https://www.googleapis.com/books/v1/volumes?q=" + search + "&langRestrict=cs_cz&printType=books&maxResults=" + 20 + "&startIndex=" + max,
          dataType: "json",

          success: function(data){
            for(i=0; i<data.items.length; i++){
              results.innerHTML += "  <div class='product'> <a href=''> <img src=" + data.items[i].volumeInfo.imageLinks.thumbnail + " alt=''> <div class='product-title'> <h3>" + data.items[i].volumeInfo.title + "</h3> </div></a></div>"


            }
          },

          type: "GET"
        });
      }

      document.getElementById("button").onkeypress = function(event){
                if (event.keyCode == 13 || event.which == 13){
                  booksearch();
                  x[0].style.display = "flex";
                  x[1].style.display = "flex";
                  x[2].style.display = "flex";

                }
            };

      document.getElementById("next").onclick = function(){
                max += 20;
                booksearch20();
            };
    </script>

    <script type="text/javascript">
      $(".hamburger-icon, .sidebar-icon").on("click", function() {
        $(".sidebar").toggleClass("sidebar__hide");
      });
    </script>
  </body>
</html>
