{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}

    <div class="billboard">
      <div class="billboard-container container">
        <h1 class="display-1"><span>Blue</span>Books</h1>

        <div class="search-bar" id="button">
          <input id="search" type="text" name="" value="" placeholder="Hledaná kniha">
          <div class="icon-container"></div>
        </div>
      </div>
    </div>

    <div class="product-list">
      <div class="search-hide">
        <h2>Výsledek vyhledávání</h2>
      </div>

      <div class="wrapper container" id="results">
      </div>
      <div class="product-load search-hide">
        <button id="next" type="button" name="button">Dalších 20</button>
      </div>
    </div>

{% endblock %}
